.jobs-bg {
    background-color: var(--c3);
}

.section-about, .section-contact {
    text-align: center;
    background-color: var(--c4);
}

.section-hire-us {
    text-align: center;
    background-color: var(--c2);
}

.services, .jobs, .about, .methods, .hire, .faq, .contacts, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5.6rem 3.75rem;
}

.container:has(> .banner), .container.header-container {
    padding: 0.5rem 3.75rem !important;
}

@media (max-width: 900px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 2.5rem 1.8rem;
    }
    
    .container:has(> .banner), .container.header-container {
        padding: 0.5rem 1.8rem !important;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 2rem 1.25rem;
    }
    
    .container:has(> .banner), .container.header-container {
        padding: 0.5rem 1.25rem !important;
    }
}