.jobs {
    text-align: center;
}

.jobs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.jobs-list .card-projetos {
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    padding: 2.5rem;
    background-color: var(--c5);
    border-radius: 5px;
}

.jobs-list .card-projetos img {
    min-width: 180px;
}

@media (max-width: 900px) {
    .jobs-list {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    
    .jobs-list .card-projetos {
        padding: 2.5rem 2rem;
    }    
    
    .jobs-list .card-projetos p {
        max-width: 50ch;
    }    

    .jobs-list .card-projetos:nth-child(1) {
        grid-column: 1/3;
    }    
}

@media (max-width: 600px) {    
    .jobs-list {
        grid-template-columns: 1fr;
    }
    .jobs-list .card-projetos:nth-child(1) {
        grid-column: auto;
    }    
}