:root {
    --p1:#3B32FF;
    --s1: #FF9A28;
    /* --s2: linear-gradient(90deg, rgba(255,222,184,1) 0%, rgba(255,204,147,1) 100%); */
    --s2: #ffcc93;
    --b1:#000000;
    --b2:#404040;
    --c1:#B3B3B3;
    --c2:#EDEDED;
    --c3:#F7F7F7;
    --c4:#FAFAFA;
    --c5:#fff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    transition: all .3s;
}

body {
    color: #171717;
    background-color: #fff;
}

body::after {
    content: url(../../img/bg.svg);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

a {
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

body::-webkit-scrollbar {
    width: 11px;
    background-color: var(--c3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--p1);
    border: 2px solid var(--c3);
    border-radius: 10px;
}

@media (max-width: 600px) {
    footer {
        text-align: center;
    }
}